
<div ng-app="CombineModule">

    <div>
        <h1>Module A, B</h1>
        <div ng-controller="MyControllerA">
            {{name}}
        </div>
        <div ng-controller="MyControllerB">
            {{name}}
        </div>
    </div>

    
    <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom">{{Company.Name}}dff</div>
    </div>
    <!--logo start-->
    <a href="index.html" class="logo">Ampcus <span>HR</span><span class="lite">Express</span></a>
    <!--logo end-->
    <div class="follow-ava">
        <img ng-src={{Company.PageLogo}} alt="">
    </div>
    <div class="nav search-row" id="top_menu">
        <!--  search form start -->
        <ul class="nav top-menu">
            <li>
                <form class="navbar-form">
                    <input class="form-control" placeholder="Search" type="text">
                </form>
            </li>
        </ul>
        <!--  search form end -->
    </div>
    <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">


            <!-- user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="profile-ava">
                        @*<img alt="" src="img/avatar1_small.jpg">*@
                    </span>
                    <span class="username">Jhon Doe</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up"></div>
                    <li class="eborder-top">
                        <a href="#"><i class="icon_profile"></i> My Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_mail_alt"></i> My Inbox</a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_clock_alt"></i> Timeline</a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_chat_alt"></i> Chats</a>
                    </li>
                    <li>
                        <a href="login.html"><i class="icon_key_alt"></i> Log Out</a>
                    </li>
                    <li>
                        <a href="documentation.html"><i class="icon_key_alt"></i> Documentation</a>
                    </li>
                    <li>
                        <a href="documentation.html"><i class="icon_key_alt"></i> Documentation</a>
                    </li>
                </ul>
            </li>
            <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
    </div>
</div>

@*@section scripts{
    <script src="~/Scripts/AngularController/MasterPage.js"></script>
}*@

@section scripts{
    var moduleA = angular.module("MyModuleA", []);
    moduleA.controller("MyControllerA", function ($scope) {
        $scope.name = "Bob A";
    });

    var moduleB = angular.module("MyModuleB", []);
    moduleB.controller("MyControllerB", function ($scope) {
        $scope.name = "Steve B";
    });
    angular.module("CombineModule", ["MyModuleA", "MyModuleB"]);
}


@*@section scripts{
    var myApp = angular.module("MyApp", []);

myApp.controller('myController', function ($scope, ContactService) { //inject ContactService
    $scope.Company = null;
    $compile(response)($scope);
    ContactService.GetCompanyDetails().then(function (d) {
        $scope.Company = d.data; // Success

    }, function () {
        alert('Failed'); // Failed
    });
})
.factory('ContactService', function ($http) { // here I have created a factory which is a populer way to create and configure services
    var fac = {};
    fac.GetCompanyDetails = function () {

        return $http.get('/CompanyMaster/GetCompanyDetails');
    }
    return fac;
});

}*@
