@{
    ViewBag.Title = "ComIndex";
    Layout = "~/Views/Shared/_HRMLayout1.cshtml";
}


<div class="row">

    <div class="row">
        <!-- profile-widget -->
        <div class="col-lg-12">
            <div class="profile-widget profile-widget-info">
                <div class="panel-body">

                    <div class="col-lg-4 col-sm-4 follow-info">
                        @*<p>Hello I’m John Smith, a leading expert in interactive and creative design.</p>
                            <p>johnsmith</p>*@
                        @*<h6>
                                <span><i class="icon_clock_alt"></i>11:05 AM</span>
                                <span><i class="icon_calendar"></i>25.10.13</span>
                                <span><i class="icon_pin_alt"></i>NY</span>
                            </h6>*@
                    </div>
                    <div class="col-lg-6 col-sm-6 follow-info weather-category">
                        <ul>
                            <li class="active">
                                <h4>HRM Package</h4>
                                <i></i> {{Contact.HRMPlan}}
                            </li>
                            <li>
                                <h4>Start Date</h4>
                                <i></i> {{Contact.StartDate | date: 'dd/MM/yyyy'}}
                            </li>
                            <li>
                                <h4>End Date</h4>
                                <i></i> {{Contact.EndDate |date:'mm/dd/yyyy'}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading tab-bg-info">
                    <ul class="nav nav-tabs">

                        <li class="active">
                            <a data-toggle="tab" href="#profile">
                                <i class="icon-user"></i>
                                Profile
                            </a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#edit-profile">
                                <i class="icon-envelope"></i>
                                Edit Profile
                            </a>
                        </li>

                    </ul>
                </header>
                <div class="panel-body">
                    <div class="tab-content">

                        <!-- profile -->
                        <div id="profile" class="tab-pane active">
                            <section class="panel">
                                @*<div class="bio-graph-heading">
                                        Hello I’m John Smith, a leading expert in interactive and creative design specializing in the mobile medium. My graduation from Massey University with a Bachelor of Design majoring in visual communication.
                                    </div>*@
                                <div class="panel-body bio-graph-info">
                                    <h1>Details in ComIndex</h1>
                                    <div class="row">
                                        <div class="bio-row">
                                            <p><span>Code </span>: {{Contact.Code}}</p>
                                        </div>
                                        <div class="bio-row">
                                            <p><span>Client Name </span>: {{Contact.Name}}</p>
                                        </div>
                                        <div class="bio-row">
                                            <p><span>Email</span>: {{Contact.Email}}</p>
                                        </div>
                                        <div class="bio-row">
                                            <p><span>Website </span>: {{Contact.Website}}</p>
                                        </div>
                                        <div class="bio-row">
                                            <p><span>ContactPerson </span>: {{Contact.ContactPerson}}</p>
                                        </div>
                                        <div class="bio-row">
                                            <p><span>ContactNo </span>: {{Contact.ContactNo}}</p>
                                        </div>
                                        <div class="bio-row">
                                            <p><span>AlternateNo </span>: {{Contact.AlternateNo}}</p>
                                        </div>
                                        <div class="bio-row">
                                            <p><span>Address </span>:  {{Contact.Address}}</p>
                                        </div>
                                        <div class="bio-row">
                                            <p><span>City </span>:  {{Contact.City}}</p>
                                        </div>
                                        <div class="bio-row">
                                            <p><span>State </span>:  {{Contact.State}}</p>
                                        </div>
                                        <div class="bio-row">
                                            <p><span>Country </span>:  {{Contact.Country}}</p>
                                        </div>

                                        <div class="bio-row">
                                            <p><span>Payment Type </span>:  {{Contact.PaymentType}}</p>
                                        </div>
                                        <div class="bio-row">
                                            <p><span>Payment Status </span>:  {{Contact.PaymentStatus}}</p>
                                        </div>
                                        <div class="bio-row">
                                            <p><span>Active </span>:  {{Contact.Active}}</p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section>
                                <div class="row">
                                </div>
                            </section>
                        </div>
                        <!-- edit-profile -->
                        <div id="edit-profile" class="tab-pane">
                            <section class="panel">
                                <div class="panel-body bio-graph-info">
                                    <h1> Profile Info</h1>
                                    <form class="form-horizontal" ng-submit="Login()">
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Code</label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="f-name" placeholder={{Contact.Code}}>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Name</label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="l-name" placeholder={{Contact.Name}}>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Email</label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="l-name" placeholder={{Contact.Email}}>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Website</label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="l-name" placeholder={{Contact.Website}}>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">ContactPerson</label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="l-name" placeholder={{Contact.ContactPerson}}>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">ContactNo</label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="l-name" placeholder={{Contact.ContactNo}}>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">AlternateNo</label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="l-name" placeholder={{Contact.AlternateNo}}>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Address</label>
                                            <div class="col-lg-10">
                                                <textarea name="" id="" class="form-control" cols="30" rows="5" placeholder={{Contact.Address}}></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">City</label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="l-name" placeholder={{Contact.City}}>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">State</label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="l-name" placeholder={{Contact.State}}>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Country</label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="l-name" placeholder={{Contact.Country}}>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">PageTitle</label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="l-name" placeholder={{Contact.PageTitle}}>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">HRMPlan</label>
                                            <div class="col-lg-6">
                                                <select class="form-control" tabindex="5">
                                                    <option>
                                                        Gold
                                                    </option>
                                                    <option>
                                                        Silver
                                                    </option>
                                                    <option>
                                                        Platinum
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">PaymentType</label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="l-name" placeholder={{Contact.PaymentType}}>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">PaymentStatus</label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="l-name" placeholder={{Contact.PaymentStatus}}>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                @*<button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>*@
                                                <button type="submit" class="btn btn-primary">Update</button>
                                                <button type="button" class="btn btn-danger">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </section>
                        </div>


                    </div>
                </div>
            </section>
        </div>
    </div>

</div>