<div id="sidebar" class="nav-collapse " ng-controller="SimpleController">
    <ul class="sidebar-menu">
        
        <li class="active" ng-repeat="menu in menuMas">
            <a class="" href={{menu.ActionURL}}>
                <i class="icon_house_alt"></i>
                <span>{{menu.Name}}</span>
            </a>
        </li>
    </ul>

  

    
</div>
<br />


